<p id="notice"><%= notice %></p>

<div class="container">
<h3 class="subtitle is-3">
<strong>Tweeet:</strong>
  <%= @tweeet.tweeet %>
</h3>
</div>
<section class="section comments">
	<div class="container">
		<h2 class="subtitle is-5"><strong><%= @tweeet.comments.count %></strong> Comments</h2>
		<%= render @tweeet.comments %>
		<div class="comment-form">
			<hr />
			<h3 class="subtitle is-3">Leave a reply</h3>
			<%= render 'comments/form' %>
		</div>
	</div>
</section>
<div class="container">
<%= link_to 'Back', tweeets_path, class: "button is-info" %>
</div>